<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cart List</title>
    <link rel="stylesheet" th:href="@{/bootstrap-5.3.1-dist/bootstrap-5.3.1-dist/css/bootstrap.css}"
          href="../../static/bootstrap-5.3.1-dist/bootstrap-5.3.1-dist/css/bootstrap.css">
</head>
<body>
<div class="container">
    <div>
        <h1>Giỏ hàng của bạn</h1>
    </div>
    <form th:action="@{/cart/list}" th:object="${cart}" method="post">
        <div>
            <table class="table table-hover" th:if="${cart != null && cart.getProductMap().size()>0}">
                <thead>
                <tr>
                    <th>Tên sản phẩm</th>
                    <th>Hình ảnh</th>
                    <th>Giá</th>
                    <th>Số lượng</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="productMap:${cart.productMap}">
                    <td th:text="${productMap.key.name}"></td>
                    <td>
                        <img th:src="${productMap.key.img}" style="width: 70px;height: auto">
                    </td>
                    <td>
                        <a id="decrease_btn" th:text="${'-'}"></a>
                        <span th:text="${productMap.getValue()}"></span>
                        <a id="increase_btn" th:href="@{/add/__${productMap.getKey().id}__(action='show')}" th:text="${'+'}"></a>
                    </td>
                    <td th:text="${productMap.key.price}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </form>
</div>
</body>
<script th:src="@{/bootstrap-5.3.1-dist/bootstrap-5.3.1-dist/js/bootstrap.bundle.js}"></script>
</html>