<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
    <meta charset="UTF-8">
    <title>Tạo sản phẩm mới</title>
</head>
<body>
<div class="container">
    <div id="form">
        <form th:action="@{/product/save}" th:object="${product}" method="post" novalidate="novalidate">
            <input type="hidden" th:field="*{id}"/>
          <div>
              <table>
                  <tr>
                      <th>Name: </th>
                      <td><input type="text" th:field="*{name}"/></td>

                  <tr>
                      <th>Price: </th>
                      <td><input type="number" th:field="*{price}"/></td>
                  </tr>
                  <tr>
                      <th>Description: </th>
                      <td><input type="text" th:field="*{price}"/></td>
                  </tr>
                  <tr>
                      <th>Manufacturer: </th>
                      <td><input type="text" th:field="*{manufacturer}"/></td>
                  </tr>
                  <tr>
                      <td><input type="button" value="Save"/></td>
                  </tr>
              </table>
          </div>
        </form>
    </div>
    
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>