<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
    <meta charset="UTF-8">
    <title>Chi tiết sản phẩm</title>
</head>
<body>
<div>
    <h1>Thông tin chi tiết sản phẩm</h1>
    <table>
        <tr>
            <td>#</td>
            <td th:hidden="${product.id}"></td>
        </tr>
        <tr>
            <th>Tên sản phẩm:</th>
            <td th:text="${product.name}"></td>
        </tr>
        <tr>
            <th>Giá:</th>
            <td th:text="${product.price}"></td>
        </tr>
        <tr>
            <th>Mô tả:</th>
            <td th:text="${product.description}"></td>
        </tr>
        <tr>
            <th>Nhà sản xuất</th>
            <td th:text="${product.manufacturer}"></td>
        </tr>
        <tr>
            <td colspan="2"><a th:href="@{/product}">Quay lại danh sách</a></td>
        </tr>
    </table>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>