.page-list-employee {
    background-color: #edf2f7;
}

.input-search {
    margin-left: 5px;
    margin-right: 5px;
    height: 2.3rem;
    border-radius: 0.25rem;
    border: 1px white solid;
}
.button-search {
    padding: 6px 12px;
    margin-top: -3px;
}

.table-container {
    overflow-x: auto;
    background-color: white;
    color: gray;
    height: 22.7em;
}

.th-list {
    background-color: #0035ff;
    color: white;
}

.table-container table {
    width: 100%;
    white-space: nowrap;
    margin-bottom: 0;
}

.title-employee {
    text-transform: uppercase;
    text-align: center;
    color: #0d6efd;
}

.tr-employee {
    border-bottom: 1px solid rgba(164, 164, 164, 0.71);
}
.check-delete-employee {
    background-color: #629eec !important;
}
.table-container td{

}
.code-employee{
    padding-right: 35px !important;
    position: relative;
}
.code-employee div{
    position: absolute;
    background-color: rgba(201, 201, 201, 0.66);
    color: black;
    top: 80%;
    left: 50%;
    border-radius: 5px;
    box-sizing: border-box;
}
::-webkit-scrollbar{
    height: 6px;
}



