#tincute .form-input label {
    font-weight: bold;
}
#tincute .row {
    margin-bottom: 5px;
}

#tincute .form-input {
    border: 1px solid black;
    width: 180%;
    padding: 30px;
    border-radius: 20px;
    background-color: #f8f9fa;
    margin-bottom: 20px;
}

#tincute .tin input,
#tincute .tin select {
    margin-bottom: 10px;
}

#tincute .tin input {
    height: 75%;
}

#tincute .tin input,
#tincute .tin select {
    border: 1px solid #ced4da;
    border-radius: 5px;
    width: 50%;
    padding: 5px;
    right: 5px;
}

#tincute .tin textarea {
    border: 1px solid #ced4da;
    border-radius: 5px;
    width: 74%;
}