body {
    margin: 0;
    font-family: sans-serif;
    background-color: white;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 0px;
}

header {
    padding: 20px 40px;
}

header img {
    grid-column: 2/span 3;
    width: 100%;
    height: auto;
}
main {
    background-image: url(https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/surface-pro-9_multi-color_Pride-english?scl=1);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
}

main .introduce {
    grid-column: span 6;
    margin-top: 300px;
    margin-left: 100px;
    font-size: x-large;
}
main .introduce h1 {
    font-size: 450%;
}
main .introduce a {
    text-decoration: none;
    cursor: pointer;
    color: #111111;
    margin-left: 30px;
}