<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Trang chủ</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <h1>POST DETAILS</h1>
    <div class="form">
        <form th:action="@{/my-blog/save}" th:object="${blog}" method="post" class="form-group">
            <div>
                <table>
                    <tr>
                        <th>Title:</th>
                        <td><input class="form-control" type="text" th:field="*{title}"/></td>
                    </tr>
                    <tr>
                        <th>Category:</th>
                        <td><select th:field="*{category}">
                            <option th:each="cat: ${categories}" th:value="${cat.id}"
                                    th:text="${cat.categoryName}"></option>
                        </select>
                        </td>
                    </tr>
                    <tr>
                        <th>Summary</th>
                        <td>

                            <textarea th:field="*{summary.summaryPost}" name="summary" cols="30" rows="10"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <th>Author:</th>
                        <td><select th:field="*{author}">
                            <option th:each="author: ${authors}" th:value="${author.id}"
                                    th:text="${author.authorName}"></option>
                        </select>
                        </td>
                    </tr>
                    <tr>
                        <th>Content:</th>
                        <td><textarea th:field="*{content}" name="content" id="content" cols="50" rows="50"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <th>IMG:</th>
                        <td><input class="form-control" type="text" th:field="*{imgPath}"/></td>
                    </tr>
                    <tr>
                        <td colspan="2"><input class="btn btn-success" type="submit" value="Save"/></td>
                    </tr>
                </table>
            </div>
        </form>
    </div>
</div>
</body>
</html>