.banner-top {
}

.slider-banner {
  height: 20rem;
}

.img-banner {
  height: 20rem;
  border-radius: 2rem;
  cursor: pointer;
}

.img-banner img {
  height: 10rem;
  width: 100%;
  padding: 0.5rem;
  border-radius: 2rem;
  transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.img-banner img:hover {
  transform: scale(0.95);
}

.swiper-button-prev {
  background-image: url("https://w7.pngwing.com/pngs/611/416/png-transparent-arrow-down-left-next-right-swipe-up-arrow-outline-icon-thumbnail.png");
  background-size: contain; /* or contain, depending on your preference */
  background-repeat: no-repeat;
  background-position: center center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-color: #f2f6fe;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.swiper-button-next {
  background-image: url("https://w7.pngwing.com/pngs/239/42/png-transparent-arrow-down-left-next-right-swipe-up-arrow-outline-icon.png") !important;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-color: #f2f6fe;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.mySwiper-promotion {
  padding: 0.5rem;
  border-radius: 2rem;
  overflow: hidden;
  cursor: pointer;
}

.mySwiper-promotion .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2rem;
  transition: transform 0.3s ease;
}

.mySwiper-promotion .swiper-slide:hover img {
  transform: scale(0.95);
  border-radius: 2rem;
}
