body {
    margin: 0;
    font-family: 'Lucida Sans';
    background: #F8F8FF;
    ;
}
.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 30px;
}
header {
    padding: 40px 40px;
}
.title {
    grid-column: span 12;
    align-items: center;
    text-align: center;
}
header nav {
    grid-column: span 12;
    align-items: center;
    text-align: center;
    background: #CAE5E8;
    border-radius: 6px;
    width: 70%;
    padding: 5px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
 header nav a {
    text-decoration: none;
    color: black;
    margin-left: 10px;
    display: inline-block;
    padding: 20px;
 }
 header nav a .dropdown {
    display: inline-block;
 }
 header nav .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
 }
 header nav a:hover:not(.active) {
    background-color: whitesmoke;
 }
 header nav a:hover:active {
    background: #CAE5E8;
 }
 nav .elementor-button {
    display: inline-block;
    justify-content: center;
 }
 main {
    grid-column: span 12;
    margin: 10px 30px;
 }
 main .main-edit-title {
    grid-column: span 12;
    align-items: center;
    text-align: center;
 }
 main img {
    grid-column: span 6;
    margin: 10px;
    padding-left: 100px;
    width: 60%;
    height: 300px;
    align-items: center;
 }
main form {
   grid-column: 7/span 6;
    width: 70%;
    margin: 10px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-color: ghostwhite;
    align-items: center;
}
main form table {
   width: 100%;
}
main form table th {
   text-align: left;
}
main form input {   
    border: #CAE5E8;
    border-radius: 6px;
    width: 100%;
    height: 30px;
   box-shadow: 1px 1px 1px rgba(0,0,0,0.2)
}
main form table tr {
   height: 40px;
}
main form table select, option {
   border: #CAE5E8;
   border-radius: 6px;
   width: 100%;
   height: 30px;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.2)
}

